<!DOCTYPE html>
<html lang="en">
<head>
  <title>Growth Tree - Email</title>
  {% include "../_head.html" %}
  {% include "_head.html" %}

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
  <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    {% include "_topnav.html" %}
    <!-- end header nav-->
  </header>
  <!-- END HEADER -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START LEFT SIDEBAR NAV-->
      {% include "_sidenav.html" with {option:2} %}
      <!-- END LEFT SIDEBAR NAV-->
      <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
      <section id="content">

        <!--start container-->
        <div class="container">

          <div id="mail-app" class="section">
            <div class="row section">
              <div class="col s12">
                <nav class="blue-grey z-depth-0">
                  <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                      <ul>
                        <li><a href="#!" class="email-menu"><i class="mdi-navigation-menu"></i></a>
                        </li>
                        <li><a href="#!" class="email-type">Mailbox</a>
                        </li>
                        <li class="right"><a href="#!"><i class="mdi-action-search"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                      <ul class="right">
                        <li><a href="#!"><i class="mdi-content-archive"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-action-delete"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-content-mail"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </nav>
              </div>
              <div class="col s12">
                <div id="email-list" class="col s10 m4 l4 zcard-panel zz-depth-1">
                  <ul class="collection">
                    <li class="collection-item avatar email-unread">
                      <span class="circle red lighten-1">H</span>
                      <span class="email-title">Hambros</span>
                      <p class="truncate grey-text ultra-small">Instruction acknowledgement</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">12:10 am</span></a>
                    </li>
                    <li class="collection-item avatar selected">
                      <img src="images/growth-logo.png" alt="" class="circle">
                      <span class="email-title">Growth Tree</span>
                      <p class="truncate grey-text ultra-small">Dividend received from ABC Corp.</p>
                      <a href="#!" class="secondary-content email-time"><i class="mdi-editor-attach-file attach-file"></i> <span class="grey-text ultra-small">12:10 am</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle grey darken-1">S</span>
                      <span class="email-title">Schroders</span>
                      <p class="truncate grey-text ultra-small">Monthly Statement</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">2:05 am</span></a>
                    </li>
                    <li class="collection-item avatar email-unread">
                      <span class="circle indigo darken-1">F</span>
                      <span class="email-title">HSBC Personal Banking </span>
                      <p class="truncate grey-text ultra-small">Intrroducing your new personal advisor, Amy Nelson</p>
                      <a href="#!" class="secondary-content email-time"><span class="blue-text ultra-small">Thursday 1:15 pm</span></a>
                    </li>
                    <li class="collection-item avatar">
                      <img src="images/growth-logo.png" alt="" class="circle">
                      <span class="email-title">Growth Tree</span>
                      <p class="truncate grey-text ultra-small">Dividend received from Hogg Brothers</p>
                      <a href="#!" class="secondary-content email-time"><i class="mdi-editor-attach-file attach-file"></i> <span class="grey-text ultra-small">Thursday 08:12 am</span></a>
                    </li>
                    <li class="collection-item grey lighten-3 blue-grey-text center">
                      <span class="email-title">Load more . . .</span>
                    </li>                    
                  </ul>
                </div>
                <div id="email-details" class="col s12 m8 l8 zcard-panel white">
                  <p class="email-subject truncate">Dividend received from ABC Corp. <span class="email-tag grey lighten-3">inbox</span> <span class="email-tag  light-blue lighten-4">Managed fund</span> <i class="mdi-action-star-rate yellow-text text-darken-3 right"></i>
                  </p>
                  <hr class="grey-text text-lighten-2">
                  <div class="email-content-wrap">
                    <div class="row">
                      <div class="col s10 m10 l10">
                        <ul class="collection">
                          <li class="collection-item avatar">
                            <img src="images/growth-logo.png" alt="" class="circle">
                            <span class="email-title">Growth Tree</span>
                            <p class="truncate grey-text ultra-small">To me</p>
                            <p class="grey-text ultra-small">12:10 am</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col s2 m2 l2 email-actions">
                        <a href="#!"><span><i class="mdi-content-reply"></i></span></a>
                        <a href="#!"><span><i class="mdi-navigation-more-vert"></i></span></a>
                      </div>
                    </div>
                    <div class="email-content">
                      <p>Dear investor</p>
                      <p>Please be advised that ABC Corp. released their final dividend for the year yesterday. We have applied the payment to your account, as per your instructions. (You can amend your instructions any time by going to your Dashboard)</p>
                      <p>Best regards,
                        <br>
                        <br>
                        <br>Andy Brown<br>
                        <b>Growth Tree</b>
                      </p>
                    </div>
                  </div>
                  <hr>
                  <div class="email-reply">
                    <div class="row">
                      <div class="col s4 m4 l4 center-align">
                        <a href="!#"><i class="mdi-content-reply"></i></a>
                        <p class="ultra-small">Reply</p>
                      </div>
                      <div class="col s4 m4 l4 center-align">
                        <a href="!#"><i class="mdi-content-reply-all"></i></a>
                        <p class="ultra-small">Reply all</p>
                      </div>
                      <div class="col s4 m4 l4 center-align">
                        <a href="!#"><i class="mdi-content-forward"></i></a>
                        <p class="ultra-small">Forward</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Compose Email Trigger -->
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
              <a class="btn-floating btn-large red modal-trigger" href="#modal1">
                <i class="large mdi-editor-mode-edit"></i>
              </a>
            </div>

            <!-- Compose Email Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <nav class="red">
                  <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                      <ul>
                        <li><a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                        </li>
                        <li><a href="#!" class="email-type">Compose</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col s12 m7 l7 hide-on-med-and-down">
                      <ul class="right">
                        <li><a href="#!"><i class="mdi-editor-attach-file"></i></a>
                        </li>
                        <li><a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                        </li>
                        <li><a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </nav>
              </div>
              <div class="model-email-content">
                <div class="row">
                  <form class="col s12">
                    <!--<div class="row">
                      <div class="input-field col s12">
                        <input id="from_email" type="email" class="validate">
                        <label for="from_email">From</label>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="to_email" type="email" class="validate">
                        <label for="to_email">To</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="subject" type="text" class="validate">
                        <label for="subject">Subject</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                        <label for="compose">Compose email</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <!--end container-->

    </section>
    <!-- END CONTENT -->

  </div>
  <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  {% include "_footer.html" %}
  <!-- END FOOTER -->

  <!--  Scripts-->
  {% include "../_tail.html" %}

  <!--scrollbar-->
  <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!-- chartist -->
  <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
  <!--plugins.js - Some Specific JS codes for Plugin Settings-->
  <script type="text/javascript" src="js/plugins.js"></script>    
</body>

</html>