<!DOCTYPE html>
<html lang="en">
<head>
  <title>Account Shield - Documentation</title>
  {% include "_head.html" %}
  <meta name="description" content="ACCOUNT SHIELD - Documentation">

  <style>
    body {font-weight: 300; font-size: 16px;}
    a {color: #ff9800;}
    h1 {font-weight: 200; color: #000;}
    h2 {text-transform: uppercase; font-size: 2.5rem; font-weight: 300;}
    h2 i {vertical-align: middle !important;}
    em {font-size: 80%; font-style: normal; text-transform: uppercase; color: #03a9f4;}
    iframe {width: 100%; min-height: 22rem; border: 1px solid silver;}
    body.icon-error i.material-icons {color: transparent;}
    .table-of-contents {height: calc(100% - 64px); overflow: auto;}
    .table-of-contents a.active {border-left: 4px solid #03a9f4;}
    .trigger1 nav li:last-child {background-color: #ffa726;}
    #sideMenu {position: fixed; top: 50%; transform: translateY(-50%); right: 20px; z-index: 99999;}
    #sideMenu li a {width: 12px; height: 12px; border-radius: 50%; border: 2px solid #81d4fa; background: #FFF; display: block; margin: 10px 0; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease;}

    #toc {min-height: 10rem;}
    #toc ul {position: fixed; width: inherit; margin: 0;}
    #toc li a {display: inline-block; width: 100%; margin-top: 2rem; padding: 0.1rem 1rem 0.1rem 5%; color: inherit;}
    #toc li.secondary a {margin-top: 0; padding-left: 10%; font-size: 80%;}
    #toc li a:not(.active):hover {background-color: #eee; color: #000; border: none;}
    #main {border-left: 1px solid #ccc;}
    @media only screen and (max-width: 600px) {
      #toc ul {position: fixed; height: 8rem; overflow-y: auto; background-color: #fff; border-bottom: 1px solid #ccc;}
      #toc li a {margin-top: 0;}
      #toc li.secondary {display: none;}
      #main {margin-top: 10rem; border-left: none;}
    }

    .section {margin-top: 4rem; margin-bottom: 4rem;}
    .example .tabs {width: 50% !important; margin-right: 0; font-size: 80%; height: 34px;}
    .example .tabs .tab a {line-height: 38px;}

    #section1 pre {background-color: #eee; border: 1px solid silver;}

    #section2 .divider {margin-bottom: 1rem;}
    #section2 .command {color: #03a9f4; font-weight: bold; word-wrap: break-word;}
    #section2 code {display: inline-block; width: 100%; margin: 0.3rem 0; padding: 0.1rem 0.5rem; background-color: #555; color: #fff;}

    #section5 h5 {margin-top: 4rem; border-bottom: 1px solid silver;}
    #section5 table {border-bottom: 1px solid #eee;}
    #section5 table th:nth-child(1) {width: 60%;}
    #section5 table td {vertical-align: top;}
    #section5 .name {zdisplay: inline-block; zwidth: 30%; zmargin-top: 1rem; font-weight: 500; color: #03a9f4;}
    #section5 td:empty:before {content: "-- N/A --"; display: block; padding-left: 2em; opacity: 0.25;}

    footer {position: relative; z-index: 999; margin-top: 0 !important;}
  </style>
</head>
<body class="trigger1">
  {% include "_navbar.html" with {option: 4} %}

  <div class="row no-margin">

    <div id="toc" class="col s12 m2 no-padding center-on-small-only">
      <ul class="table-of-contents">
        <li><a href="#section1">Getting Started</a></li>
        <li class="secondary"><a href="#gs-signup">Signing up</a></li>
        <li class="secondary"><a href="#gs-further">Going further</a></li>
        <li><a href="#section1a">Using the Dashboard</a></li>
        <li><a href="#section2">Client-side CSS</a></li>
        <li class="secondary"><a href="#css-at">@</a></li>
        <li class="secondary"><a href="#css-if">@if</a></li>
        <li class="secondary"><a href="#css-show">@show-if</a></li>
        <li class="secondary"><a href="#css-show">@visible-if</a></li>
        <li class="secondary"><a href="#css-hide">@hide-if</a></li>
        <li class="secondary"><a href="#css-hide">@invisible-if</a></li>
        <li class="secondary"><a href="#cssBrowser">Browser support</a></li>
        <li class="secondary"><a href="#cssExample1">Example 1</a></li>
        <li class="secondary"><a href="#cssExample2">Example 2</a></li>
        <li><a href="#section3">Client-side JS</a></li>
        <li><a href="#section4">Server-side REST</a></li>
        <li><a href="#section5">Properties Reference</a></li>
        <li class="secondary"><a href="#prop-user">User</a></li>
        <li class="secondary"><a href="#prop-device">Device</a></li>
        <li class="secondary"><a href="#prop-connection">Connection</a></li>
        <li class="secondary"><a href="#prop-location">Location</a></li>
      </ul>
    </div>

    <div id="main" class="col s12 m10">

      <div id="section1" class="section scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Getting Started</h2>
              <h4></h4>
            </div>
          </div>
          <div class="content"></div>
        </div>
      </div>

      <div class="divider"></div>
    
      <div id="section1a" class="section scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Using the Dashboard</h2>
              <h4></h4>
            </div>
          </div>
          <div class="content"></div>
        </div>
      </div>

      <div class="divider"></div>
    
      <div id="section2" class="section scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Client-side CSS</h2>
              <h4>Simple client-side sensing using CSS</h4>
            </div>
          </div>
          <div class="content"></div>
        </div>
      </div>

      <div id="cssBrowser" class="section scrollspy">
        <div class="container row">
          <div class="col s12">
            <h5>Browser Support</h5>
            <p><em>Account shield</em>'s Client-side CSS technology relies on CSS3 and JS support, and should work in all except the most ancient and obsolete browsers (i.e. IE6 and Safari 3.1).</p>
            <p><em>Account shield</em> has been designed to gather data without raising notifications or warnings in the end-user's browser. You can use the technology without worrying that your user's will be put off by permission requests to know their location, for example.</p>
          </div>
        </div>
      </div>

      <div id="cssExample1" class="example section scrollspy">
        <div class="container row">
          <div class="col s12">
            <h5>Example 1 - Highlight a download option based on device platform</h5>
            <ul class="tabs grey lighten-4 orange-text active-text-orange">
              <li class="tab col s3"><a class="active" href="#ex1-1">Output</a></li>
              <li class="tab col s3"><a href="#ex1-2">Code</a></li>
            </ul>
          </div>
          <div id="ex1-1" class="col s12">
            <iframe class="z-depth-2" src="blank.html"></iframe>
            <!--iframe class="z-depth-2" src="example1.html"></iframe-->
          </div>
          <div id="ex1-2" class="col s12">
            <iframe class="z-depth-2" src="blank.html"></iframe>
            <!--iframe class="z-depth-2" src="example1-code.html"></iframe-->
          </div>
        </div>
      </div>

      <div id="cssExample2" class="example section scrollspy">
        <div class="container row">
          <div class="col s12">
            <h5>Example 2 - Pre-fill location in a search bar</h5>
            <ul class="tabs grey lighten-4 orange-text active-text-orange">
              <li class="tab col s3"><a class="active" href="#ex2-1">Output</a></li>
              <li class="tab col s3"><a href="#ex2-2">Code</a></li>
            </ul>
          </div>
          <div id="ex2-1" class="col s12">
            <iframe class="z-depth-2" src="blank.html"></iframe>
            <!--iframe class="z-depth-2" src="example2.html"></iframe-->
          </div>
          <div id="ex2-2" class="col s12">
            <iframe class="z-depth-2" src="blank.html"></iframe>
            <!--iframe class="z-depth-2" src="example2-code.html"></iframe-->
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div id="section3" class="section scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Client-side JS</h2>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h5 class="light-blue-text">You need to be signed up to see this information</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div id="section4" class="section scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h2>Server-side REST</h2>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h5 class="light-blue-text">You need to be signed up to see this information</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div id="section5" class="section scrollspy">
        <div class="container row">
          <div class="col s12">
            <h2>Properties Reference</h2>

            <h5 id="prop-user" class="scrollspy"><i class="material-icons small">perm_identity</i> User</h5>
            <table class="striped">
              <thead>
                <th>Property</th>
                <th>CSS usage</th>
                <th>JS usage</th>
              </thead>
              <tbody>
                <tr>
                  <td><span class="name">user new to site</span> (Boolean)<br>Flag indicating whether that user has visited the site before</td>
                  <td>user-new-to-site</td>
                  <td>AS.user.newToSite</td>
                </tr>
                <tr>
                  <td><span class="name">user new to page</span> (Boolean)<br>Flag indicating whether that user has visited the page before</td>
                  <td>user-new-to-page</td>
                  <td>AS.user.newToPage</td>
                </tr>
                <tr>
                  <td><span class="name">user last on site</span> (Datetime)<br>Date when this user last accessed this site</td>
                  <td>user-last-on-site</td>
                  <td>AS.user.lastOnSite</td>
                </tr>
                <tr>
                  <td><span class="name">user last on page</span> (Datetime)<br>Date when this user last accessed this page</td>
                  <td>user-last-on-page</td>
                  <td>AS.user.lastOnPage</td>
                </tr>
                <tr>
                  <td><span class="name">user devices</span> (Method)<br>Returns an array of devices handles associated with this user</td>
                  <td></td>
                  <td>AS.user.devices()</td>
                </tr>
                <tr>
                  <td><span class="name">user connections</span> (Method)<br>Returns an array of connections associated with the user</td>
                  <td></td>
                  <td>AS.user.connections()</td>
                </tr>
                <tr>
                  <td><span class="name">user places</span> (Method)<br>Returns an array of locations (city names and country codes) indicating place this user has been</td>
                  <td>user-place-of-residence</td>
                  <td>AS.user.placeOfResidence</td>
                </tr>
                <tr>
                  <td><span class="name">user place of residence</span> (String)<br>City and country code indicating likely place of residence</td>
                  <td>user-place-of-residence</td>
                  <td>AS.user.placeOfResidence</td>
                </tr>
                <tr>
                  <td><span class="name">user place of work</span> (String)<br>City and country code indicating likely place of work</td>
                  <td>user-place-of-work</td>
                  <td>AS.user.placeOfWork</td>
                </tr>
                <tr>
                  <td><span class="name">user languages</span> (String)<br>List of language codes indicating likely languages spoken</td>
                  <td>user-languages</td>
                  <td>AS.user.languages</td>
                </tr>
              </tbody>
            </table>

            <h5 id="prop-device" class="scrollspy"><i class="material-icons small">devices</i> Device</h5>
            <table class="striped">
              <thead>
                <th>Property</th>
                <th>CSS usage</th>
                <th>JS usage</th>
              </thead>
              <tbody>
                <tr>
                  <td><span class="name">device new to site</span> (Boolean)<br>Flag indicating whether that device has visited the site before</td>
                  <td>device-new-to-site</td>
                  <td>AS.device.newToSite</td>
                </tr>
                <tr>
                  <td><span class="name">device new to page</span> (Boolean)<br>Flag indicating whether that device has visited the page before</td>
                  <td>device-new-to-page</td>
                  <td>AS.device.newToPage</td>
                </tr>
                <tr>
                  <td><span class="name">device last on site</span> (Datetime)<br>Date when this device last accessed this site</td>
                  <td>device-last-on-site</td>
                  <td>AS.device.lastOnSite</td>
                </tr>
                <tr>
                  <td><span class="name">device last on page</span> (Datetime)<br>Date when this device last accessed this page</td>
                  <td>device-last-on-page</td>
                  <td>AS.device.lastOnPage</td>
                </tr>
                <tr>
                  <td><span class="name">device type</span> (String)<br>One of 'Mobile', 'Phablet', 'Tablet', 'Laptop' or 'Desktop' indicating likely type of device</td>
                  <td>device-type</td>
                  <td>AS.device.type</td>
                </tr>
                <tr>
                  <td><span class="name">device type &lt;type&gt;<type></span> (Boolean)<br>A flag indicating if the device is of type &lt;type&gt;</td>
                  <td>
                    device-type-mobile<br>
                    device-type-phablet<br>
                    device-type-tablet<br>
                    device-type-laptop<br>
                    device-type-desktop
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="name">device platform</span> (String)<br>One of 'Windows', 'Mac', Linux', 'Android', or 'IOS' indicating likely operating system of device</td>
                  <td>device-platform</td>
                  <td>AS.device.platform</td>
                </tr>
                <tr>
                  <td><span class="name">device platform &lt;type&gt;<type></span> (Boolean)<br>A flag indicating if the operating system &lt;type&gt; is being used on the device</td>
                  <td>
                    device-platform-windows<br>
                    device-platform-mac<br>
                    device-platform-linux<br>
                    device-platform-ios<br>
                    device-platform-android
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="name">device browser</span> (String)<br>One of 'IE', 'Firefox', 'Chrome', 'Safari', etc. indicating likely browser type being used on the device</td>
                  <td>device-browser</td>
                  <td>AS.device.browser</td>
                </tr>
                <tr>
                  <td><span class="name">device browser &lt;type&gt;</span> (Boolean)<br>A flag indicating if the browser of type &lt;type&gt; is being used on the device</td>
                  <td>
                    device-browser-ie<br>
                    device-browser-firefox<br>
                    device-browser-chrome<br>
                    device-browser-safari<br>
                    device-browser-opera<br>
                    device-browser-silk<br>
                    device-browser-vivaldi<br>
                    device-browser-maxthon<br>
                    device-browser-ya<br>
                    device-browser-sleipnir
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="name">device orientation</span> (String)<br>One of 'Portrait', 'Landscape', etc. indicating orientation of the device on page load</td>
                  <td>device-orientation</td>
                  <td>AS.device.orientation</td>
                </tr>
                <tr>
                  <td><span class="name">device orientation &lt;type&gt;</span> (Boolean)<br>A flag indicating if the device had an orientation of &lt;type&gt; on page load</td>
                  <td>
                    device-browser-portrait<br>
                    device-browser-landscape
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="name">device screen width</span> (String)<br>An indication of the width of the screen in pixels</td>
                  <td>device-screen-width</td>
                  <td>AS.device.screenWidth</td>
                </tr>
                <tr>
                  <td><span class="name">device screen height</span> (String)<br>An indication of the likely height of the screen in pixels</td>
                  <td>device-screen-height</td>
                  <td>AS.device.screenHeight</td>
                </tr>
                <tr>
                  <td><span class="name">device screen diagonal</span> (String)<br>An indication of the likely diagonal screen size in inches</td>
                  <td>device-screen-diagonal</td>
                  <td>AS.device.screenDiagonal</td>
                </tr>
                <tr>
                  <td><span class="name">device connections</span> (Method)<br>Returns an array of connections used by this device</td>
                  <td></td>
                  <td>AS.device.connections()</td>
                </tr>
              </tbody>
            </table>

            <h5 id="prop-connection" class="scrollspy"><i class="material-icons small">wifi_tethering</i> Connection</h5>
            <table class="striped">
              <thead>
                <th>Property</th>
                <th>CSS usage</th>
                <th>JS usage</th>
              </thead>
              <tbody>
                <tr>
                  <td><span class="name">Connection new to site</span> (Boolean)<br>Flag indicating whether the current connection has been used to visit the site before.</td>
                  <td>connection-new-to-site</td>
                  <td>AS.connection.newToSite</td>
                </tr>
                <tr>
                  <td><span class="name">Connection new to page</span> (Boolean)<br>Flag indicating whether the current connection has been used to visit the page before.</td>
                  <td>connection-new-to-page</td>
                  <td>AS.connection.newToPage</td>
                </tr>
                <tr>
                  <td><span class="name">Connection last on site</span> (Datetime)<br>Date when the current connection was last used to access this site</td>
                  <td>connection-last-on-site</td>
                  <td>AS.connection.lastOnSite</td>
                </tr>
                <tr>
                  <td><span class="name">Connection last on page</span> (Datetime)<br>Date when the current connection was last used to access this page</td>
                  <td>connection-last-on-page</td>
                  <td>AS.connection.lastOnPage</td>
                </tr>
                <tr>
                  <td><span class="name">Connection type</span> (String)<br>One of 'Fixed' or 'Mobile', indicating the type of the current connection</td>
                  <td>connection-type</td>
                  <td>AS.connection.type</td>
                </tr>
                <tr>
                  <td><span class="name">Connection type &lt;type&gt;</span> (Boolean)<br>A flag indicating if the connection is of type &lt;type&gt;</td>
                  <td>
                    connection-type-fixed<br>
                    connection-type-mobile
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="name">Connection provider name</span> (String)<br>Text string indicating the provider (i.e. ISP) of the current connection</td>
                  <td>connection-provider-name</td>
                  <td>AS.connection.providerName</td>
                </tr>
                <tr>
                  <td><span class="name">Connection external IP address</span> (String)<br>Text string providing the public IP address used by the current connection</td>
                  <td>connection-external-ip</td>
                  <td>AS.connection.externalIp</td>
                </tr>
                <tr>
                  <td><span class="name">Connection internal IP addresses</span> (String)<br>Text string providing a comma separated list of the current devices internal IP addresses (empty if an IPv6 external IP is being used)</td>
                  <td>connection-internal-ip</td>
                  <td>AS.connection.internalIp</td>
                </tr>
                <tr>
                  <td><span class="name">Connection devices</span> (Method)<br>Returns an array of devices used with this connection</td>
                  <td></td>
                  <td>AS.connection.devices()</td>
                </tr>
              </tbody>
            </table>

            <h5 id="prop-location" class="scrollspy"><i class="material-icons small">place</i> Location</h5>
            <table class="striped">
              <thead>
                <th>Property</th>
                <th>CSS usage</th>
                <th>JS usage</th>
              </thead>
              <tbody>
                <tr>
                  <td><span class="name">Location co-ordinates</span> (String)<br>Comma separated list of a latitude and longitude position of the city nearest to the current location of the device</td>
                  <td>location-coordinates</td>
                  <td></td>
                </tr>
                <tr>
                  <td><span class="name">Location country</span> (String)<br>A two character ISO code indicating the country where the device is currently located</td>
                  <td>location-country</td>
                  <td>AS.connection.location.country</td>
                </tr>
                <tr>
                  <td><span class="name">Location region</span> (String)<br>Text string indicating the region of the country where the device is currently located</td>
                  <td>location-region</td>
                  <td>AS.connection.location.region</td>
                </tr>
                <tr>
                  <td><span class="name">Location city</span> (String)<br>Text string indicating the city nearest to the current location of the device</td>
                  <td>location-city</td>
                  <td>AS.connection.location.city</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% include "_footer.html" %}

  <!--  Scripts-->
  {% include "_tail.html" %}
  <script type="text/javascript">
    function loadResponse(response, status, xhr) {
      if (status == "error") {
        $(this).html('<h5 class="light-blue-text">You need to be signed up to see this information</h5>');
      }
    }
  </script>
  <script type="text/javascript">
    (function($){
      $(function(){
        $('.button-collapse').sideNav();
        $('.scrollspy').scrollSpy();

        $("#section1 .content").load("documentation-getstarted.html", loadResponse)

        var options = [
          {selector: '#section1', offset: 100, callback: '$("#section1a .content").load("http://as-dashboard.echo-central.com/documentation-dashboard.html", loadResponse)'},
          {selector: '#section1', offset: 1000, callback: '$("#section2 .content").load("documentation-clientcss.html", loadResponse)'}
        ];
        Materialize.scrollFire(options);
      });
    })(jQuery);
  </script>
</body>
</html>
